{% extends 'headandfoot.html' %}
{% block headandfoot %}
{% load static %}

    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed back-position-center" data-overlay-dark="5" data-background="{% static 'img/slider/27.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-7 caption mt-90">
                    <h5>The best travel agency</h5>
                    <h1>We helping you find <span>your dream</span> vacation</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <section class="about cover section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <p>You can choose any country with good tourism. Agency elementum sesue the aucan vestibulum aliquam justo in sapien rutrum volutpat. Donec in quis the pellentesque velit. Donec id velit ac arcu posuere blane.</p>
                    <p>Agency elementum sesue the aucan vestibulum aliquam justo in sapien rutin volutpat. Donec in quis the pellentesque veliten.</p>
                    <p>Hotel ut nisl quam nestibulum ac quam nec odio elementum sceisue the duru ligula. Orci varius natoque penatibus et magnis dis parturient monte nascete ridiculus mus nellentesque habitant morbine.</p>
                    <ul class="list-unstyled about-list mb-30">
                        <li>
                            <div class="about-list-icon"> <span class="ti-check"></span> </div>
                            <div class="about-list-text">
                                <p>20 Years of Experience</p>
                            </div>
                        </li>
                        <li>
                            <div class="about-list-icon"> <span class="ti-check"></span> </div>
                            <div class="about-list-text">
                                <p>150+ Tour Destinations</p>
                            </div>
                        </li>
                    </ul>
                    <div class="phone-call mb-30">
                        <div class="icon"><span class="flaticon-phone-call"></span></div>
                        <div class="text">
                            <p>For information</p> <a href="tel:855-333-4444">855 333 4444</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1 animate-box" data-animate-effect="fadeInUp">
                    <div class="img-exp">
                        <div class="about-img">
                            <div class="img "> <img src="{% static 'img/about3.jpg' %}" class="img-fluid" alt=""> </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="team section-padding bg-success">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="section-subtitle">Travel Experts</div> -->
                    <div class="section-title">Meet Our <span>Experts</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-card mb-30">
                        <div class="team-img"><img src="{% static 'img/team/01.jpg' %}" alt="" class="w-100"></div>
                        <div class="team-content">
                            <h3 class="team-title">Emily Norman<span>Switzerland Guide</span></h3>
                            <p class="team-text">Nulla quis efficitur lacus sulvinar suere ausue in eduis euro vesatien arcuman ontese auctor ac aleuam aretra.</p>
                            <div class="social">
								<div class="full-width">
								    <a href="#"><i class="ti-linkedin"></i></a>
									<a href="#"><i class="ti-facebook"></i></a> 
									<a href="#"><i class="ti-twitter"></i></a> 
									<a href="#"><i class="ti-instagram"></i></a>
								</div>
							</div>
                        </div>
                        <div class="title-box">
                            <h3 class="mb-0">Leonie Norman<span>Switzerland Guide</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-30">
                        <div class="team-img"><img src="{% static 'img/team/02.jpg' %}" alt="" class="w-100"></div>
                        <div class="team-content">
                            <h3 class="team-title">Andreas Brown<span>Maldives Guide</span></h3>
                            <p class="team-text">Nulla quis efficitur lacus sulvinar suere ausue in eduis euro vesatien arcuman ontese auctor ac aleuam aretra.</p>
                            <div class="social">
								<div class="full-width">
								    <a href="#"><i class="ti-linkedin"></i></a>
									<a href="#"><i class="ti-facebook"></i></a> 
									<a href="#"><i class="ti-twitter"></i></a> 
									<a href="#"><i class="ti-instagram"></i></a>
								</div>
							</div>
                        </div>
                        <div class="title-box">
                            <h3 class="mb-0">Andreas Brown<span>Maldives Guide</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-30">
                        <div class="team-img"><img src="{% static 'img/team/03.jpg' %}" alt="" class="w-100"></div>
                        <div class="team-content">
                            <h3 class="team-title">Angelina White<span>Greece Guide</span></h3>
                            <p class="team-text">Nulla quis efficitur lacus sulvinar suere ausue in eduis euro vesatien arcuman ontese auctor ac aleuam aretra.</p>
                            <div class="social">
								<div class="full-width">
								    <a href="#"><i class="ti-linkedin"></i></a>
									<a href="#"><i class="ti-facebook"></i></a> 
									<a href="#"><i class="ti-twitter"></i></a> 
									<a href="#"><i class="ti-instagram"></i></a>
								</div>
							</div>
                        </div>
                        <div class="title-box">
                            <h3 class="mb-0">Angelina White<span>Greece Guide</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
{% endblock headandfoot %}

