{% extends 'headandfoot.html' %}
{% block headandfoot %}
{% load static %}
    
 <!-- Header Banner -->
 <div class="banner-header section-padding valign bg-img bg-fixed back-position-center" data-overlay-dark="5" data-background="{% static 'img/slider/15.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-7 caption mt-90">
                <h1>My <span>Trip</span> </h1>
            </div>
        </div>
    </div>
</div>
    <!-- Tour Content -->
    <section class="tour-page section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-30 pdetaile">
                    <div class="section-title mb-0">Delhi & Agra <span>- 10/12/2023</span></div>
                    <!-- <div class="rating mb-30"> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i>
                        <div class="reviews-count color-2">()</div>
                    </div> -->
                    <div class="tour-page head-icon">
                        <p><i class="ti-events"></i>Trip ID -  1020</p>
                        <p><i class="ti-time"></i> 5 Days 4 Nights</p>
                        
                        <p><i class="ti-location-pin"></i> Delhi</p>
                        <p><i class="ti-money"></i><b> 300.0</b></p>
                    </div>
                    <h6>Information</h6>
                    <p class="mb-30">Travel non lorem ac erat suscipit bibendum nulla facilisi. Sedeuter nunc volutpat miss sapien conseyen turpeutionyer masin libero sevenion vusetion viventa augue sit amet hendrerit vestibulum. Duisterione venenatis lacus gravida eros ut turpis interdum ornare.</p>
                    <!-- <ul class="list-unstyled page-list mb-30">
                        <li>
                            <div class="page-list-icon"> <span class="ti-check"></span> </div>
                            <div class="page-list-text">
                                <p>5 Days 4 Nights, Group: 5 - 10 People, Maldives</p>
                            </div>
                        </li>
                    </ul> -->
                    <p class="mb-30">Interdum et malesu they adamale fames ac anteipsu pimsine faucibus curabitur arcu site feugiat rana volutpat sollicitudin libero. Hotel non lorem acer suscipit bibendum vulla facilisi nedeuter nunc vousa molis sapien velet conseyer turpeutionyer masin libero sempe molis.</p>
                    <!-- tour-page time-table -->
                    <div class="tour-page time-table"> <span>Departure</span>
                        <p>Calicut International Airport</p>
                    </div>
                    <div class="tour-page time-table"> <span>Departure Picking Time</span>
                        <p>7.00AM</p>
                    </div>
                    <div class="tour-page time-table"> <span>Hotel Name</span>
                        <p>AbD Hotels</p>
                    </div>
                    
                    <div class="tour-page time-table-price"> <span>Day one</span>
                        <ul class="tour-page time-table-price-include">
                            <li><i class="ti-check"></i> Start with breckfast</li>
                            <li><i class="ti-check"></i> location one </li>
                            <li><i class="ti-check"></i> location Two</li>
                            <li><i class="ti-check"></i> location Three</li>
                            <li><i class="ti-check"></i> Lunch / Car</li>
                            <li><i class="ti-check"></i> location Four</li>
                            <li><i class="ti-check"></i> location Five</li>
                            <li><i class="ti-check"></i> Tea</li>
                            <li><i class="ti-check"></i> Retun To Hotel</li>
                            <li><i class="ti-check"></i> Diner</li>
                            <li><i class="ti-check"></i> Camp Fire</li>
                        </ul>
                    </div>
                    <div class="tour-page time-table-price"> <span>Day Two</span>
                        <ul class="tour-page time-table-price-include">
                            <li><i class="ti-check"></i> Start with breckfast</li>
                            <li><i class="ti-check"></i> location one </li>
                            <li><i class="ti-check"></i> location Two</li>
                            <li><i class="ti-check"></i> location Three</li>
                            <li><i class="ti-check"></i> Lunch / Car</li>
                            <li><i class="ti-check"></i> location Four</li>
                            <li><i class="ti-check"></i> Retrun to Airport</li>
                            <li><i class="ti-check"></i> Check Out</li>
                        </ul>
                    </div>
                    <div class="tour-page time-table"> <span>Return To Airport</span>
                        <p>5.00PM</p>
                    </div>
                    <div class="tour-page time-table"> <span>Departure </span>
                        <p>Calicut International Airport</p>
                    </div>
                    <div class="tour-page time-table"> <span>Check Out</span>
                        <p>5.45PM</p>
                    </div>
                    
                    <br>
                    <br>
                    
            </div>
        </div>
       
        <div class="col-md-12 booknowbutton container">
            <button onclick="return confirm('Are you sure..?')" class="butn-dark p-5" style="width: 1150px;"><a href="#"><span>Cancel Trip</span></a></button>
        </div>
    </section>
   
    <!-- Footer -->
    <footer class="footer clearfix">
        <div class="container">
            <!-- First footer -->

            <div class="second-footer">
                <div class="row">
                    <!-- about & social icons -->
                    <div class="col-md-4 widget-area">
                        <div class="widget clearfix">
                            <div > <h1 class="text-light">Address</h1></div>
                            <div class="widget-text">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum numquam, error tempore laudantium debitis voluptatem nulla, nobis cupiditate commodi iste doloremque</p>
                                <div class="social-icons">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="ti-instagram"></i></a></li>
                                        <li class="ms-5"><a href="#"><i class="ti-twitter"></i></a></li>
                                        <li class="ms-5"><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li class="ms-5"><a href="#"><i class="ti-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- phone -->
                    <div class="col-md-3 offset-md-1 widget-area">
                        <div class="widget clearfix usful-links">
                            <h3 class="widget-title">Phone Number</h3>
                            <p>99999999999</p>

                           
                        </div>
                    </div>
                    <!-- email -->
                    <div class="col-md-4 widget-area">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Email</h3>
                            <p>viewmore@gmail.com</p>
                            <div class="widget-newsletter">
                                <form action="#">
                                    <input type="widget-area" placeholder="Send your thoughts...." required>
                                    <button type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bottom footer -->
            <div class="bottom-footer-text">
                <div class="row copyright">
                    <div class="col-md-12">
                        <p class=" container">Thank You</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock headandfoot %}
