{% extends 'headandfoot.html' %}
{% block headandfoot %}
{% load static %}
    
 <!-- Header Banner -->
 <div class="banner-header section-padding valign bg-img bg-fixed back-position-center" data-overlay-dark="5" data-background="{% static 'img/slider/15.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-7 caption mt-90">
                <h1>My <span>Trip</span> </h1>
            </div>
        </div>
    </div>
</div>
   

<!-- Tours 1 -->
<section class="tours1 section-padding bg-lightnav" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle"><span>Your  place</span></div>
                <div class="section-title">Booked <span>Packages</span></div>
            </div>
        </div>
        <div class="row">
            {% for i in mytrip %}
            <div class="col-md-4">
                <div class="item">
                    <div class="position-re o-hidden"><img src="{{i.package.image.url}}" alt=""></div> <span class="category"><a href="#">${{i.package.price}}</a></span>
                    <div class="con">
                        <h5><a href="{% url 'mytripdetail' i.id %}">{{i.package.packagename}}</a></h5>
                        <div class="line"></div>
                        <div class="row facilities">
                            <div class="col col-md-12">
                                <ul>
                                    <li><i class="ti-time"></i> {{i.package.days}} Days</li>
                                    <li><i class="ti-user"></i> 1 Guide</li>
                                    <li><i class="ti-location-pin"></i> {{i.package.location}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            
        </div>
        
    </div>
</section>

   
{% endblock headandfoot %}
