{% extends 'headandfoot.html' %}
{% block headandfoot %}
{% load static %}



<!-- Tour Page Slider -->
 <!-- Tour Content -->
 
     <!-- Tour Page Slider -->
     <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="2" data-background=" {{book.package.image.url}}"></div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background=" {{book.package.image2.url}}"></div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background=" {{book.package.image.url}}"></div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background=" {{book.package.image3.url}}"></div>
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
    <!-- Tour Content -->
    <section class="tour-page section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-30 pdetaile">
                    <div class="section-title mb-0">{{book.package.packagename}}<span>  {{book.date}}</span></div>
                    <div class="rating mb-30"> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i>
                        <div class="reviews-count color-2">(2 Reviews)</div>
                    </div>
                    <div class="tour-page head-icon">
                        <p><i class="ti-time"></i> {{book.date}}</p>
                        <p><i class="ti-user"></i> {{book.package.name}}</p>
                        <p><i class="ti-location-pin"></i>{{book.package.location}}</p>
                        <p><i class="ti-money"></i><b> {{book.totalamt}}</b></p>
                    </div>
                    <h6>Information</h6>
                    <p class="mb-30">Travel non lorem ac erat suscipit bibendum nulla facilisi. Sedeuter nunc volutpat miss sapien conseyen turpeutionyer masin libero sevenion vusetion viventa augue sit amet hendrerit vestibulum. Duisterione venenatis lacus gravida eros ut turpis interdum ornare.</p>
                    
                    <p class="mb-30">Interdum et malesu they adamale fames ac anteipsu pimsine faucibus curabitur arcu site feugiat rana volutpat sollicitudin libero. Hotel non lorem acer suscipit bibendum vulla facilisi nedeuter nunc vousa molis sapien velet conseyer turpeutionyer masin libero sempe molis.</p>
                    <!-- tour-page time-table -->
                    <div class="tour-page time-table"> <span>Departure</span>
                        <p>Calicut International Airport</p>
                    </div>
                    <div class="tour-page time-table"> <span>Departure Picking Time</span>
                        <p>7.00AM</p>
                    </div>
                    <div class="tour-page time-table"> <span>Hotel Name</span>
                        <p>AbD Hotels</p>
                    </div>
                    {% for itenry in book.package.iteneries.all %}
                    <div class="tour-page time-table-price"> <span>Day {{itenry.day}}</span>
                        <ul class="tour-page time-table-price-include">
                            {%  for a in itenry.activities %}

                            <li><i class="ti-check"></i> {{ a}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    
                    <div class="tour-page time-table"> <span>Return To Airport</span>
                        <p>5.00PM</p>
                    </div>
                    <div class="tour-page time-table"> <span>Departure </span>
                        <p>Calicut International Airport</p>
                    </div>
                    <div class="tour-page time-table"> <span>Check Out</span>
                        <p>5.45PM</p>
                    </div>
                   
                    
                    <br>
                    <br>
                    
                    <br>
                    <br>
                
                    
                </div>
      
            </div>
        </div>

        
        
       
    </section>
   

{% endblock headandfoot %}