{% extends 'headandfoot.html' %}
{% block headandfoot %}
{% load static %}




    <!-- Tour Page Slider -->
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="{{packages.image2.url}}"></div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="{{packages.image.url}}"></div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="{{packages.image3.url}}"></div>
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
    <!-- Tour Content -->
    <section class="tour-page section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-30 pdetaile">
                    <div class="section-title mb-0">{{packages.packagename }}<span> Package</span></div>
                    <div class="rating mb-30"> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i> <i class="star active"></i>
                        <div class="reviews-count color-2">(2 Reviews)</div>
                    </div>
                    <div class="tour-page head-icon">
                        <p><i class="ti-time"></i> {{packages.days}} Days</p>
                        <p><i class="ti-user"></i> Group: 5 - 10 People</p>
                        <p><i class="ti-location-pin"></i>{{packages.location}}</p>
                        <p><i class="ti-money"></i><b> {{packages.price }}</b>  Per person</p>
                    </div>
                    <h6>Information</h6>
                    <p class="mb-30">{{packages.description}}</p>
                   
                    <p class="mb-30">Interdum et malesu they adamale fames ac anteipsu pimsine faucibus curabitur arcu site feugiat rana volutpat sollicitudin libero. Hotel non lorem acer suscipit bibendum vulla facilisi nedeuter nunc vousa molis sapien velet conseyer turpeutionyer masin libero sempe molis.</p>
                    <!-- tour-page time-table -->
                    <div class="tour-page time-table"> <span>Departure</span>
                        <p>{{packages.pickingdeparture }}</p>
                    </div>
                    <div class="tour-page time-table"> <span>Departure Picking Time</span>
                        <p>{{packages.chekingtime }}</p>
                    </div>
                    <div class="tour-page time-table"> <span>Hotel Name</span>
                        <p>{{packages.hotelname }}</p>
                    </div>
                    {% for itenry in packages.iteneries.all %}
                    <div class="tour-page time-table-price"> <span>Day {{itenry.day}}</span>
                        <ul class="tour-page time-table-price-include">
                            {%  for a in itenry.activities %}

                            <li><i class="ti-check"></i> {{ a}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    
                    <div class="tour-page time-table"> <span>Return To Airport</span>
                        <p>{{packages.returnairporttime }}</p>
                    </div>
                    <div class="tour-page time-table"> <span>Departure </span>
                        <p>{{packages.pickoutdeparture }}</p>
                    </div>
                    <div class="tour-page time-table"> <span>Check Out</span>
                        <p>{{packages.checkouttime }}</p>
                    </div>
                    
                    <br>
                    <br>
                    <!-- Gallery -->
                    <h6 class="mb-0">Tour Gallery</h6>
                    <div class="row">
                        <div class="col-md-4 gallery-item">
                            <a href="{{packages.image.url}}" title="" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="{{packages.image.url}}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item">
                            <a href="{{packages.image2.url}}" title="" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="{{packages.image2.url}}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 gallery-item">
                            <a href="{{packages.image.url}}" title="" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="{{packages.image.url}}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- sidebar -->
                <div class="col-md-4">
                    <div class="sidebar detailbooking">
                        <div class="right-sidebar">
                            <div class="right-sidebar item">
                                <h3><span class="right-sidebar item__from">Per Person</span>$ {{packages.price }}</h3>
                                <form method="post"  class="right-sidebar item-form" action="{% url 'intrest' packages.id %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <input name="name" type="text" placeholder="Full Name" required>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input name="email" type="email" placeholder="Email Address" required>
                                        </div>
                                        <div class="col-md-12 form-group input1_inner">
                                            <input  name="dte" type="date" class="form-control " placeholder="Travel Date" required>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input name="mbrs" class="form-control input " type="number" placeholder="People" required>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <textarea name="message" id="message" cols="30" rows="4" placeholder="Your Enquiry"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="butn-dark  booknowbutton"><a href="#"><span>Intrested</span></a></button>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                   
                </div>
      
            </div>
        </div>
        
       
    </section>
  
{% endblock headandfoot %}
