{% extends 'headandfoot.html' %}
{% block headandfoot %}
{% load static %}

    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed back-position-center" data-overlay-dark="5" data-background="{% static 'img/slider/15.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-7 caption mt-90">
                    <h1>Up coming <span>Events</span> </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Event1 -->
    {% for i in events %}
    <section class="about cover section-padding">
        <div class="container">
            
            <div class="row upevent bg-succuss">
                
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <h1 class="text-light"><a href="/acc/tourdetail/{{i.package.id}}"span>{{i.package.packagename}}</span></a></h1>
                    <p class="text-light">{{i.package.description}}</p>
                    <ul class="list-unstyled about-list mb-30">
                        <li>
                            <div class="about-list-icon"> <span class="ti-check"></span> </div>
                            <div class="about-list-text">
                                <p class="text-light">Insurancee</p>
                            </div>
                        </li>
                        <li>
                            <div class="about-list-icon"> <span class="ti-check"></span> </div>
                            <div class="about-list-text">
                                <p class="text-light">15+ Destinations</p>
                            </div>
                        </li>
                    </ul>
                    <div class="phone-call mb-30">
                        <div class="icon"><span class="flaticon-phone-call"></span></div>
                        <div class="text">
                            <p class="text-light">For information</p> <a href="#" class="text-light">99999999 999</a>
                        </div>
                    </div>
                    <div class="phone-call mb-30">
                        <div class="icon"><span class="ti-time"></span></div>
                        <div class="text">
                            
                            <p class="text-light">Trip Date</p> <p  class="text-light">{{i.date}}</p>
                           
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5 offset-md-1 animate-box" data-animate-effect="fadeInUp">
                    <div class="img-exp">
                        <div class="about-img mb-3">
                            <div class=""> <img src="{{i.package.image2.url}}" class="img-fluid" alt=""> </div>
                        </div>
                        <div class="about-img">
                            <div class=""> <img src="{{i.package.image.url}}" alt=""> </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-12 booknowbutton container">
                <button class="butn-dark p-5" style="width: 1150px;"><a href="/acc/tourdetail/{{i.package.id}}"span>View Package</span></a></button>
            </div>
        </div>
    </section>{% endfor %}
    



    

    
    


{% endblock headandfoot %}

